<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app>



<error-page>
        <error-code>400</error-code>
        <location>/400.html</location>
  </error-page>
  <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
  </error-page>
  <error-page>
        <error-code>401</error-code>
        <location>/401.html</location>
  </error-page>
  <error-page>
        <error-code>403</error-code>
        <location>/403.html</location>
  </error-page>
  <error-page>
        <error-code>500</error-code>
        <location>/500.html</location>
  </error-page>
    <error-page>
        <error-code>501</error-code>
        <location>/501.html</location>
  </error-page>
    <error-page>
        <error-code>502</error-code>
        <location>/502.html</location>
  </error-page>
	<servlet>
		<servlet-name>register</servlet-name>
		<servlet-class>cn.edu.nju.luckers.webserver.main.login.ResigterServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>cn.edu.nju.luckers.webserver.main.login.LoginServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>stockData</servlet-name>
		<servlet-class>cn.edu.nju.luckers.webserver.main.stock.StockDataServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>stockData</servlet-name>
		<url-pattern>/stockData</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>monthData</servlet-name>
		<servlet-class>cn.edu.nju.luckers.webserver.main.stock.StockMonthServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>monthData</servlet-name>
		<url-pattern>/monthData</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>weekData</servlet-name>
		<servlet-class>cn.edu.nju.luckers.webserver.main.stock.StockWeekServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>weekData</servlet-name>
		<url-pattern>/weekData</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>news</servlet-name>
		<servlet-class>cn.edu.nju.luckers.webserver.main.news.NewsServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>news</servlet-name>
		<url-pattern>/news</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>score</servlet-name>
		<servlet-class>cn.edu.nju.luckers.webserver.main.score.ScoreServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>score</servlet-name>
		<url-pattern>/score</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>user</servlet-name>
		<servlet-class>cn.edu.nju.luckers.webserver.main.user.UserServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>user</servlet-name>
		<url-pattern>/user</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>addStock</servlet-name>
		<servlet-class>cn.edu.nju.luckers.webserver.main.user.AddStockServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addStock</servlet-name>
		<url-pattern>/addStock</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>deleteStock</servlet-name>
		<servlet-class>cn.edu.nju.luckers.webserver.main.user.DeleteStockServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteStock</servlet-name>
		<url-pattern>/deleteStock</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>checkFavorite</servlet-name>
		<servlet-class>cn.edu.nju.luckers.webserver.main.user.CheckFavoriteServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>checkFavorite</servlet-name>
		<url-pattern>/checkFavorite</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>/careerServlet</servlet-name>
		<servlet-class>cn.edu.nju.luckers.webserver.main.career.CareerServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>/careerServlet</servlet-name>
		<url-pattern>/careerServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>strategyVertify</servlet-name>
		<servlet-class>cn.edu.nju.luckers.webserver.main.strategy.StrategyVertifyServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>strategyVertify</servlet-name>
		<url-pattern>/strategyVertify</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>strategyApply</servlet-name>
		<servlet-class>cn.edu.nju.luckers.webserver.main.strategy.StrategyApplyServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>strategyApply</servlet-name>
		<url-pattern>/strategyApply</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>strategyDelete</servlet-name>
		<servlet-class>cn.edu.nju.luckers.webserver.main.strategy.StrategyDeleteServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>strategyDelete</servlet-name>
		<url-pattern>/strategyDelete</url-pattern>
	</servlet-mapping>
    <servlet>
		<servlet-name>allStrategy</servlet-name>
		<servlet-class>cn.edu.nju.luckers.webserver.main.strategy.AllStrategyServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>allStrategy</servlet-name>
		<url-pattern>/allStrategy</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getName</servlet-name>
		<servlet-class>cn.edu.nju.luckers.webserver.main.stock.GetStockNameServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getName</servlet-name>
		<url-pattern>/getName</url-pattern>
	</servlet-mapping>
   	<servlet>
		<servlet-name>recommend</servlet-name>
		<servlet-class>cn.edu.nju.luckers.webserver.main.recommend.RecommendServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>recommend</servlet-name>
		<url-pattern>/recommend</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>compare</servlet-name>
		<servlet-class>cn.edu.nju.luckers.webserver.main.stock.CompareServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>compare</servlet-name>
		<url-pattern>/compare</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>confirm</servlet-name>
		<servlet-class>cn.edu.nju.luckers.webserver.main.stock.ConfirmStockCodeServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>confirm</servlet-name>
		<url-pattern>/confirm</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ranking</servlet-name>
		<servlet-class>cn.edu.nju.luckers.webserver.main.strategy.StrategyRankingServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ranking</servlet-name>
		<url-pattern>/ranking</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>strategyShow</servlet-name>
		<servlet-class>cn.edu.nju.luckers.webserver.main.strategy.StrategyShowServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>strategyShow</servlet-name>
		<url-pattern>/strategyShow</url-pattern>
	</servlet-mapping>
	


	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>
			cn.edu.nju.luckers.calculate_center.nightfactory.NightFactory
		</listener-class>
	</listener>

</web-app>
 
